.DS_Store
.idea/
node_modules/
*.log
coverage/
*.pyc
__pycache__/
arke-platform/data/google-drive-pdfs/

# Exclude large Google Drive folders
arke-platform/data/google-drive-pdfs/
arke-platform/data/google-drive-text/
